@import './variables.scss';

.scrollTop {
	position: fixed;
	bottom: 20px;
	right: 20px;
	justify-content: center;
	z-index: 1000;
	cursor: pointer;
	animation: fadeIn 0.3s;
	transition: background-color 0.4s;
	opacity: 0.5;
}

.scrollTop:hover {
	background-color: $dark;
	color: $white;
}
