@import "./variables.scss";

.circle {
	border-radius: 50%;
	background-color: $secondary;
	color: white;
	width: 200px;
	height: 200px;

	h4 {
		transform: rotate(-13deg);
		font-weight: 700;
		transition: transform 1.5s;
		cursor: default;
	}
}

.circle:hover {
	h4 {
		transform: rotate(13deg);
	}
}
