@import './variables.scss';

.Contact {
	min-height: 70vh;
	background-color: $primary;
	color: $white;

	.header {
		font-size: 6em;
		font-weight: bold;
		letter-spacing: 5px;

		.arrow {
			animation: arrowAnimation 3s infinite 0s;
		}
	}
}

@keyframes arrowAnimation {
	50% {
		transform: translateX(100px);
	}
	100% {
		transform: translateX(0px);
	}
}

@media only screen and (max-width: 768px) {
	.Contact {
		.header {
			font-size: 4em;
			letter-spacing: 2px;
		}
	}
}
