@import './variables.scss';

.Contact {
	min-height: 70vh;
	background-color: $primary;
	color: $white;

	.header {
		font-size: 6em;
		font-weight: bold;
		letter-spacing: 5px;
	}
}

@media only screen and (max-width: 768px) {
	.Contact {
		.header {
			font-size: 4em;
			letter-spacing: 2px;
		}
	}
}
