@import "./variables.scss";

.container {
	.wrapper {
		position: relative;
		overflow: hidden;
	}

	.wrapper::before {
		content: "";
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		-webkit-clip-path: polygon(0 600px, 100% 100px, 100% 100%, 0 100%);
		clip-path: polygon(0 600px, 100% 300px, 100% 100%, 0 100%);
		background-color: $dark;
		position: absolute;
	}
}
