@import "./variables.scss";

.Stories {
	min-height: 83vh;
	background-color: $primary;

	.imgContainer {
		border-radius: 50%;
		width: 250px;
		height: 250px;
		background-color: $info;
		overflow: hidden;

		img {
			display: inline;
			margin: 0 auto;
			height: 100%;
			width: auto;
			filter: drop-shadow(4px 6px 10px $dark);
		}
	}

	.titleContainer {
		color: $white;
		display: flex;
		align-items: flex-end;
		height: 50vh;
		justify-content: space-around;

		.title {
			font-size: 7em;
			font-weight: bold;
			margin: 0;
		}

		.mouse {
			position: relative;
			animation: mouseAnimation 3s infinite 0s;
		}
	}
}

@keyframes mouseAnimation {
	0% {
		top: 0;
	}
	25% {
		top: 100px;
	}
	50% {
		top: 0;
	}
}

@media only screen and (max-width: 768px) {
	.Stories {
		.titleContainer {
			height: 25vh;
			.title {
				font-size: 3em;
			}
		}
	}
}

@media only screen and (device-width: 768px) {
	.Stories {
		.titleContainer {
			height: 50vh;
			.title {
				font-size: 5em;
			}
		}
	}
}
