// variables
$primary: #222a36;
$secondary: #676cdb;
$danger: #f06860;
$info: #3aafc9;
$dark: #1c232e;
$gray: #7f848b;
$warning: #f1b457;
$white: #ffffff;
$success: #75bd53;
$light: #eff0f1;
$linkedInColor: #0077b5;
$githubColor: #7dbbe6;
$facebookColor: #3b5998;
$cardColor: #29313d;

// body
$body-bg: $primary;

// border radius
$border-radius: 0px;

// button
$btn-border-radius: 3px;

// font
$font-family-base: "Quicksand";
$text-muted: $gray;

$theme-colors: (
	"primary": $primary,
	"secondary": $secondary,
	"danger": $danger,
	"info": $info,
	"dark": $dark,
	"gray": $gray,
	"warning": $warning,
	"white": $white,
	"success": $success,
	"light": $light,
);
